@font-face {
    font-family: 'Header';
    src: url('header.otf') format('opentype');
}

@font-face {
    font-family: 'Body';
    src: url('body.ttf') format('truetype');
}

html {
    scroll-padding-top: 70px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Body', sans-serif;
    background-color: #010A13; 
    color: #F0E6D2;
    padding-top: 56px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Header', sans-serif;
}

.navbar {
    background-color: #1E282D;
    border-bottom: 2px solid #785A28;
    color: #F0E6D2;
}

.navbar-brand, .nav-link {
    color: inherit;
}

.nav-link:hover {
    color: #C89B3C;
}

.jumbotron {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), 
                url('https://wiki.leagueoflegends.com/en-us/images/Noxus_The_Immortal_Bastion_01.jpg?8ae0d') center/cover;
    height: 90vh;
    color: #F0E6D2;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    border-bottom: 2px solid #333;
}

.carousel-image {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
}

.card {
    background-color: #1e1e1e; 
    color: white;
    border: 1px solid #333;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.card-img-top {
    height: 24vh;
    object-fit: cover;
}

.btn-primary {
    background-color: #C89B3C;
    border-color: #C89B3C;
}

.btn-primary:hover {
    background-color: #C89B3C;
    border-color: #F0E6D2;
}

.btn-primary:focus, .btn-primary:active {
    background-color: #785A28 !important;
    border-color: #785A28 !important;
    box-shadow: none !important;
}